@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome to the SignalR Server Broadcasting</h1>
    <h2 class="display-4">example by Jacob Dixon</h2>
    <p>Learn more about the code <a href="https://jacobdixon.uk/2020/03/signalr-server-broadcasting-with-asp-net-core-3-1">by reading the post about it</a>.</p>
    <div>
        <h3 class="location"></h3>
        <h4><span class="temperature"></span> C</h4>
        <h6>Last reading: <span class="date"></span></h6>
    </div>
</div>
